html,
body {
  height: 100%;
  font-family: "Proxima Nova Rg";
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.42857143;
  color: #212529;
}
body.no-scroll {
  overflow: hidden;
}
.container {
  max-width: 1257px;
  margin: 0 auto;
  padding: 0 15px;
}
.container-fluid {
  padding: 0 15px;
}
.MainContent {
  display: flex;
  align-items: flex-start;
}
.main {
  width: 100%;
}

// ============== Buttons =====================
.btn {
  cursor: pointer;
  border-radius: 2px;
  font-weight: 600;
  line-height: 1.42857143;
  padding: 7px 40px;
  font-size: 13px;
  border: none;
  text-transform: uppercase;
}
.btn-dark {
  color: #fff;
  background-color: #000;
}
.btn-gray {
  background-color: #e5e6e7;
}
.btn-pink {
  color: #000;
  background-color: $pink;
}
.btn-sm {
  font-size: 12px;
  padding: 5px 20px;
}
.title {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 16px;
}

.top__btn {
  display: flex;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 15px;
}
.top__btn-demo {
  background-color: $pink;
}
.top__btn-site {
  margin-left: 5px;
  background-color: #000;
  color: #fff;
}

// =======================================
.aside {
  width: 250px;
  min-width: 250px;
  background-color: #f5f5f5;
  margin-right: 20px;
  padding: 20px;
}
.aside__title {
  padding: 30px 20px;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
.aside__list-item {
  outline: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.aside__list-text {
  color: #000;
}
.aside__list-text:hover {
  text-decoration: underline;
}

//=====================================
.menu__burger-icon {
  display: none;
}

// =========================================
input[type="checkbox"].toggle {
  display: none;
}
input[type="checkbox"].toggle + label {
  display: inline-block;
  height: 17px;
  width: 60px;
  position: relative;
  font-size: 11px;
  font-weight: 300;
  background-color: #ccc;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: all 0.3s ease;
}
input[type="checkbox"].toggle + label::before {
  position: absolute;
  top: -3px;
  height: 23px;
  width: 23px;
  content: "";
  transition: all 0.3s ease;
  z-index: 3;
}
input[type="checkbox"].toggle + label::after {
  width: 40px;
  text-align: center;
  z-index: 2;
  text-transform: uppercase;
  position: absolute;
  top: 52%;
  transform: translateY(-50%);
  text-overflow: ellipsis;
  overflow: hidden;
}
input[type="checkbox"].toggle + label.switch-1,
input[type="checkbox"].toggle + label.switch-2,
input[type="checkbox"].toggle + label.switch-3,
input[type="checkbox"].toggle + label.switch-4,
input[type="checkbox"].toggle + label.switch-5,
input[type="checkbox"].toggle + label.switch-6,
input[type="checkbox"].toggle + label.switch-7,
input[type="checkbox"].toggle + label.switch-8,
input[type="checkbox"].toggle + label.resolution,
input[type="checkbox"].toggle + label.privacy-switch {
  border-radius: 30px;
}
input[type="checkbox"].toggle + label.switch-1::before,
input[type="checkbox"].toggle + label.switch-2::before,
input[type="checkbox"].toggle + label.switch-3::before,
input[type="checkbox"].toggle + label.switch-4::before,
input[type="checkbox"].toggle + label.switch-5::before,
input[type="checkbox"].toggle + label.switch-6::before,
input[type="checkbox"].toggle + label.switch-7::before,
input[type="checkbox"].toggle + label.switch-8::before,
input[type="checkbox"].toggle + label.resolution::before,
input[type="checkbox"].toggle + label.privacy-switch::before {
  border-radius: 50px;
}

input[type="checkbox"].toggle:not(:checked) + label {
  background-color: #ccc;
  text-align: right;
}
input[type="checkbox"].toggle:not(:checked) + label::after {
  content: attr(data-unchecked);
  right: -3px;
  left: auto;
  color: #000;
}
input[type="checkbox"].toggle:not(:checked) + label::before {
  left: 0;
  background-color: #000;
}
input[type="checkbox"].toggle:checked + label {
  text-align: left;
}
input[type="checkbox"].toggle:checked + label::after {
  content: attr(data-checked);
  left: 2px;
  right: auto;
  opacity: 1;
  color: #000;
}
input[type="checkbox"].toggle:checked + label::before {
  left: 37px;
  background-color: $pink;
}

// ==============================================
.modal {
  display: none;
  width: 100%;
  height: 100%;
  padding: 15px;
  overflow: auto;
  background-color: rgba(76, 78, 82, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.modal.show {
  display: flex;
}
.menu {
  position: absolute;
  background-color: #fff;
  padding: 8px;
  width: 40px;
  height: 37px;
  border-radius: 4px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.15);
  top: 103px;
  left: 0;
  z-index: 1002;
  display: none;
  position: fixed;
  transform: translateX(0%);
  transition: all 0.3s;
}
.menu-transform {
  transform: translateX(250px);
}
.nav-toggle {
  width: 25px;
  padding: 10px 0;
  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
}

.nav-toggle:focus {
  outline: 0;
}

.nav-toggle__item {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: background 0.2s linear;
}

.nav-toggle.active .nav-toggle__item {
  background: none;
}

.nav-toggle__item:before,
.nav-toggle__item:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
  z-index: 1;
  transition: transform 0.2s linear;
}

.nav-toggle__item:before {
  top: -8px;
}

.nav-toggle__item:after {
  bottom: -8px;
}

.nav-toggle.active .nav-toggle__item:before {
  transform-origin: left top;
  transform: rotate(45deg) translate3d(3px, -4px, 0);
}

.nav-toggle.active .nav-toggle__item:after {
  transform-origin: left bottom;
  transform: rotate(-45deg) translate3d(3px, 3px, 0);
}
.form__label-welcome span {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
}
.form__item-question {
  position: relative;
}
// ========= Всалывающая подсказка ==============
.question-icon {
  outline: none;
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: inline;
  margin-bottom: -3px;
}
//------------------------------------------------
.box-map {
  transform: scale(0);
  position: absolute;

  width: 300px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}
.box-map ol {
  padding-left: 10px;
}
.box-map--active {
  display: block;
  transform: scale(1);
}
//------------------------------------------------
.question-icon1,
.question-icon2 {
  outline: none;
  position: relative;
  width: 15px;
  height: 15px;
  cursor: pointer;
  display: inline;
  margin-bottom: -3px;
  margin-left: 3px;
}
.box__info1,
.box__info2 {
  transform: scale(0);
  position: absolute;

  width: 300px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  z-index: 1000;
  top: -28px;
  left: 231px;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  transition: all 0.3s ease;
}
.box__info2 {
  top: 6px;
  right: 54px;
}
.box__info1--active,
.box__info2--active {
  display: block;
  transform: scale(1);
}

//====================================================
.btn-delete {
  width: 15px;
  margin-bottom: -3px;
  display: inline;
}
.btn-edit {
  margin-top: 15px;
  margin-left: 10px;
  padding: 5px 20px;
}

// ======== Подтвердите удаление ================
.box__delete {
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1001;
  margin: 60px auto;
  transform: scale(0);
  border-radius: 5px;
  padding: 15px;
  width: 450px;
  transition: all 0.3s ease;
  &-close {
    width: 15px;
    cursor: pointer;
  }
  &-icon {
    display: flex;
    justify-content: flex-end;
  }
  .box__title {
    margin-bottom: 10px;
  }
  .timing__buttons-delete {
    margin: 20px 24px 10px;
    display: flex;
    justify-content: flex-end;
  }
  .box__delete-btn {
    margin-left: 10px;
    padding: 5px 20px;
  }
}
.box__delete-active {
  transform: scale(1);
}
//==============================
.pink__link {
  color: $pink;
  &:hover {
    text-decoration: underline;
  }
}
.buttons-elements {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.form__item {
  margin-top: 15px;
}
.form__item-top {
  margin-top: 0;
}
.btn-elements {
  margin-left: 10px;
  padding: 5px 20px;
}
.form__welcome-group {
  background-color: #f5f5f5;
  padding: 20px 15px;
  margin-bottom: 30px;
}
.button-big {
  display: flex;
  justify-content: center;
  margin-top: -10px;
  margin-bottom: 20px;
}
.btn-big {
  padding: 10px 40px;
  font-size: 15px;
}

//======================== Модальное окно ====================
.modal__information {
  display: none;
  width: 630px;
  margin: 0 auto;
  position: absolute;
  z-index: 1020;
  position: fixed;
  // top: 50px;
  background-color: #fff;
  margin: 20px;
  padding: 24px;
  border: none;
  overflow-y: auto;
  border-radius: 5px;
  transition: all 0.3s ease;

  top: 50%;
  left: 50%;
  z-index: 1020;
  transform: translate(-50%, -50%);

  &-active {
    display: block;
  }
}
.modal__information-title {
  text-transform: uppercase;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}
.modal__information-resolution {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.modal__information-text {
  color: #6c757d;
  margin-right: 15px;
}
// ============ Радио-кнопки =================
.modal__information-radioButtons {
  display: flex;
  justify-content: center;
  .modal__information-radio {
    margin: 7px;
  }
}

.modal__information-radio {
  margin-bottom: 10px;
}
.modal__information-radio input[type="radio"] {
  display: none;
}
.modal__information-radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.modal__information-radio label:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 1px solid #000;
  transition: all 0.2s ease;
}
/* Checked */
.modal__information-radio input[type="radio"]:checked + label:before {
  content: "\2713";
  color: #fff;
  background-color: #000;
  padding-left: 3px;
  font-size: 12px;
}
//  ===== Вкладки ========
.modal__information-tab {
  position: relative;
  display: flex;
  margin-top: 20px;
  margin-bottom: 30px;
}
.modal__information-tab input[type="radio"] {
  display: none;
}
.modal__information-tab label {
  display: inline-block;
  cursor: pointer;
  background-color: #f7f7f7;
  padding: 0px 15px;
  line-height: 34px;
  border: none;
}
.modal__information-tab .modal__information-tabItem label {
  border-radius: 6px;
  margin-left: 10px;
}
/* Checked */
.modal__information-tab input[type="radio"]:checked + label {
  background: $pink;
  color: #fff;
}

//====================================================================
.modal__information-tab::after {
  position: absolute;
  content: "";
  bottom: 0;
  height: 1px;
  width: 100%;
  background-color: #ccc;
}
.info__group {
  margin-top: 20px;
  margin-bottom: 20px;
  &-active {
    display: block;
  }
}
.info__title-formInner {
  display: flex;
  .info__title-formItem {
    margin-right: 10px;
  }
  .info__title-formItem:last-child {
    margin-right: 0;
  }
}
.info__date-formInner {
  display: flex;
  .info__date-formItem {
    width: 33.33333%;
  }
}
.questionMenu {
  display: none;
  margin-bottom: 20px;
}
.addUsers {
  margin-top: 15px;
}
.addUsers__label {
  font-size: 12px;
  font-weight: 700;
}
.addUsers__group {
  display: flex;
  align-items: center;
}
.addUsers__button {
  margin: 10px 0 5px;
}
.addUsers__btn {
  margin-left: 10px;
  padding: 8px 40px;
}
.ask__radio-title {
  margin-top: 20px;
  margin-bottom: 15px;
}
.info__ack1-formInner {
  display: flex;
  .info__ack1-formItem {
    width: 50%;
    margin-right: 10px;
  }
  .info__ack1-formItem:last-child {
    margin-right: 0;
  }
}
.info__ack1-add {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: $pink;
}
.info__ack2 {
  display: none;
}
.info__ask-checkbox {
  margin-top: 5px;
}
//  ===== Выбор ответа ========
.ask {
  margin: 20px;
  display: flex;
  justify-content: center;
}
.ask__radio input[type="radio"] {
  display: none;
}
.ask__radio label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.ask__radio {
  margin-left: 20px;
}

.ask__radio label:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 1px solid #000;
  transition: all 0.2s ease;
}
/* Checked */
.ask__radio input[type="radio"]:checked + label:before {
  content: "\2713";
  color: #fff;
  background-color: #000;
  padding-left: 3px;
  font-size: 12px;
}

//  ===== Выбор ответа (checkbox) ========

.info__ask-checkbox input[type="checkbox"] {
  display: none;
}
.info__ask-checkbox label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 0;
  line-height: 18px;
  user-select: none;
}
.info__ask-checkbox label:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  position: absolute;
  left: 0;
  bottom: 1px;
  border: 1px solid #000;
  transition: all 0.2s ease;
}
/* Checked */
.info__ask-checkbox input[type="checkbox"]:checked + label:before {
  content: "\2713";
  color: #fff;
  background-color: #000;
  padding-left: 3px;
  font-size: 12px;
}

//Выпадающий список
.form__list {
  margin-top: 10px;
  width: 100%;
  outline: 0;
  color: #495057;
  padding: 6px 10px;
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.form__list-item {
  padding: 10px 0;
}
.modal__information-close {
  width: 15px;
  float: right;
}
