@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.top__btn{
    display: flex;
    justify-content: flex-end;
}
.top__btn-demo{
    background-color: $pink;
}
.top__btn-site{
    margin-left: 5px;
    background-color: #000;
    color: #fff;
}